version: '3.8'

services:
  backend:
    build: ./taskrunner
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/taskdb
    ports:
      - "8080:8080"
    depends_on:
      - mongodb

  frontend:
    build: ./task3-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongodb:
    image: mongo:5.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"